<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.co.blogspot.tutor93.bakingapps">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main_detail.ItemDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main_detail.ItemEndActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".main_detail.ItemDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.co.blogspot.tutor93.bakingapps.main_detail.ItemDetailActivity" />
        </activity>

    </application>

</manifest>